<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  
  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>
  
  <targets>
    <!--<target name="file" xsi:type="File" fileName="${basedir}/Constants/NLogFile.txt"
           layout="/////////////////////////////// ${level} (${longdate}) ////////////////////////////////// ${newline}
            ${newline}
            Call Site: ${callsite}${newline}
            Exception Type: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=StackTrace}${newline}
            Additional Info: ${message}${newline}" />-->
    
    <!--<target 
        name="test"
        xsi:type="Mongo"
        connectionString="mongodb://127.0.0.1:27017"
        collectionName="DefaultLog"
        cappedCollectionSize="26214400">
      <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <property name="ThreadName" layout="${threadname}" />
      <property name="ProcessID" layout="${processid}" bsonType="Int32" />
      <property name="ProcessName" layout="${processname:fullName=true}" />
      <property name="UserName" layout="${windows-identity}" />
    </target>-->

    <target name="MongoEx"
            xsi:type="Mongo"
            connectionString="mongodb://ec2-52-88-187-127.us-west-2.compute.amazonaws.com:27017/test"
            collectionName="DefaultLog" >
      <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <property name="ThreadName" layout="${threadname}" />
      <property name="ProcessID" layout="${processid}" bsonType="Int32" />
      <property name="ProcessName" layout="${processname:fullName=true}" />
      <property name="UserName" layout="${windows-identity}" />
    </target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="MongoEx" enabled="true"/>
    <!--<logger name="*" minlevel="Trace" writeTo="file" enabled="false"/>
    <logger name="dbLogger" minlevel="Trace" writeTo="test" enabled="true"/>-->
  </rules>
</nlog>