<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SabreAuthenticationUrl" value="v2/auth/token/" />
  <add key="SabreAdvancedCalendarUrl" value="v1.8.1/shop/calendar/flights?mode=live" />
  <add key="SabreAuthenticationUrl" value="v2/auth/token/" />
  <add key="SabreAuthenticationUrl" value="v2/auth/token/" />
  
</appSettings>