<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SabreAuthenticationUrl" value="v2/auth/token/" />
  <add key="SabreAdvancedCalendarUrl" value="v1.8.1/shop/calendar/flights?mode=live" />
  <add key="SabreAirportsAtCitiesUrl" value="v1/lists/supported/cities/{0}/airports/" />
  <add key="SabreBargainFinderUrl" value="v1.8.2/shop/flights?mode=live" />
  <add key="SabreAirSearchCityPairsUrl" value="v1/lists/airports/supported/origins-destinations" />
  <add key="SabreFareRangeCityPairsUrl" value="v1/lists/supported/historical/flights/origins-destinations" />
  <add key="SabreLowFareForecastCityPairsUrl" value="v1/lists/supported/forecast/flights/origins-destinations" />
  <add key="SabreCountriesUrl" value="v1/lists/supported/countries" />
  <add key="SabrePointOfSaleCountryUrl" value="v1/lists/supported/countries?pointofsalecountry={0}" />
  <!--<add key="SabreDestinationsUrl" value="v1/shop/flights/fares" />-->
  <add key="SabreDestinationsUrl" value="v2/shop/flights/fares" />
  <add key="SabreFareForecastUrl" value="v1/forecast/flights/fares" />
  <add key="SabreFareRangeUrl" value="v1/historical/flights/fares" />
  <add key="SabreInstaFlightUrl" value="v1/shop/flights" />
  <add key="SabreMultiAirportCityUrl" value="v1/lists/supported/cities" />
  <add key="SabreSaleCountryUrl" value="v1/lists/supported/pointofsalecountries" />
  <add key="SabreSeasonalityUrl" value="v1/historical/flights/{0}/seasonality" />
  <add key="SabreThemeAirportUrl" value="v1/shop/themes/{0}" />
  <add key="SabreTopDestinationsUrl" value="v1/lists/top/destinations" />
  <add key="SabreTravelThemeUrl" value="v1/lists/supported/shop/themes" />
  <add key="WeatherHistoryUrl" value="planner_{0}{1}/q/{2}/{3}.json" />
  <add key="WeatherInternationalHistoryUrl" value="planner_{0}{1}/q/{2}/{3}.json" />
  <add key="WeatherInternationalMultiCityHistoryUrl" value="planner_{0}{1}{2}.json" />
</appSettings>