<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>-->
  <appSettings>
    
    <add key="RedisServerTest" value="ec2-54-187-128-185.us-west-2.compute.amazonaws.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisServerMaster" value="ec2-54-186-220-236.us-west-2.compute.amazonaws.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisServerSlave" value="ec2-54-191-121-194.us-west-2.compute.amazonaws.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisExpireInMin" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ContentCacheExpireInMin" value="60" />
    <add key="RedisPassword" value="nl6Cq8mthJrrXbqlDqLaPgtFkeq12zqB7Sb5j5UJ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RedisPort" value="6379" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    
    <add key="MongoDBServer" value="mongodb://ec2-54-187-128-185.us-west-2.compute.amazonaws.com:27017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MongoDBName" value="test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SabreClientID" value="V1:5vmr22d6iqrz59bk:DEVCENTER:EXT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SabreClientSecret" value="P1yC9Huu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SabreTokenUri" value="https://api.test.sabre.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SabreBaseAPIUri" value="https://api.test.sabre.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>