<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="MailGunApiKey" value="key-af8a0a66e356d81a17e67c24f8afb43c" />
    <add key="MailGundomain" value="sandboxd21b1c47661845f288d674d57918a443.mailgun.org" />
    --><!--<add key="MailGunFromemail" value="shaileshsakaria@gmail.com"/>--><!--
    <add key="MailGunFromemail" value="noreply@trippism.com" />-->
  <!--</appSettings>-->
</configuration>