<div ng-controller="DestinationController">


    <!-- [S] HEADER -->
    <div class="header">
        <div class="header-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="home-btn">
                            <a class="icons red-bg" href="#" ng-click="ViewDestination();"><img src="app/Styles/images/fa-globe.png" alt="" /></a>
                        </div>
                        <div class="user-btn dropdown">
                            <a class="icons dropdown-toggle" href="#" data-toggle="dropdown"><img src="app/Styles/images/user-img.jpg" alt="" /></a>
                            <ul class="dropdown-menu theme-dropdown">
                                <li><a href="#">Account Settings</a></li>
                                <li><a href="#">Privacy Settings</a></li>
                                <li><a href="#">Help Centre</a></li>
                                <li><a href="#">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8" ng-if="tabManager.tabItems.length > 0">
                        <div tabs>
                            <div ng-show="tabInfo.TabcontentView" ng-repeat="tabInfo in tabManager.tabItems" pane title="{{ tabInfo.title | limit:10 }}">
                                <attraction-tab tabs-loading="loadingTab" attraction-params="tabInfo.parametersData"></attraction-tab>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pull-right">
                        <div class="logo">
                            <a href="#"> <img src="app/Styles/images/trippism.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E] HEADER -->
    <!-- [S] MAP -->
    <div class="map-box">
        <div class="" style="height:auto;width:auto;" cg-busy="{promise:mappromise,message:'Please wait, we are getting cheapest destinations from ' + OrigintoDisp,templateUrl:'/app/Views/partials/cgbusyMessagePartial.html'}">
            <div id="wrapper" cg-busy="{promise:destinationmappromise,message:'Please wait, we are getting destination details...'}">
                <div google-map id="map_canvas" btntext="buttontext" destinations="destinationlist" airportlist="AvailableAirports" defaultlat="20" defaultlng="0" class="map"></div>
            </div>
        </div>
    </div>
    <!-- [E] MAP -->
    <!-- [S] SEARCHCENTER -->
    <div class="searchcenter-box slide-top" ng-show="ShowDestinationView">
        <div class="btn-box">
            <a ng-click="isSearchCollapsed = !isSearchCollapsed; isRefineSeachCollapsed = false;" ng-class="isSearchCollapsed ? 'active' : ''" class="toggle-btn search-btn red-bg" href="#"><i class="search-icon"></i>search</a>
        </div>
        <div collapse="isSearchCollapsed" class="destination-wp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="destination-tab">
                            <!-- Nav tabs -->
                            <span style="color:white;">{{selectedform}}</span>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" ng-class="{'active' : selectedform == 'SuggestDestination'}" class="active">
                                    <a href="#suggest-destinations" ng-click="selectedform = 'SuggestDestination'" aria-controls="suggest-destinations" role="tab" data-toggle="tab">Suggest Destinations</a>
                                </li>
                                <li role="presentation" ng-class="{'active' : selectedform == 'KnowMyDestination'}"><a href="#" ng-click="selectedform = 'KnowMyDestination'" aria-controls="i-know-my-destination" role="tab" data-toggle="tab">I Know My Destination</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active">
                                    <p>Give us your Origin airport and dates of travel, we will suggest you destinations!</p>
                                    <form name="frmdestfinder" novalidate class="airport-details-form">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="input-box">
                                                        <input ng-model="Origin"
                                                               typeahead-min-length="2"
                                                               required
                                                               typeahead-input-formatter="formatInput($model)"
                                                               typeahead-editable="true"
                                                               typeahead-on-select="onSelect($item, $model, $label)"
                                                               typeahead-template-url="customTemplate.html"
                                                               name="Origin"
                                                               tabindex="1"
                                                               placeholder="Enter Origin"
                                                               typeahead="state as state for AvailableCodes in getMatchingStuffs($viewValue)"
                                                               type="text"
                                                               class="form-control" />
                                                        <span ng-if="IsairportJSONLoading == true" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                                                        <i ng-if="!IsairportJSONLoading" class="icon-box location"></i>
                                                    </div>
                                                    <div class="alert alert-danger" role="alert" ng-show="hasError && frmdestfinder.$invalid && frmdestfinder.Origin.$error.required">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                        <span class="sr-only">Error:</span>
                                                        Please enter Origin.
                                                    </div>
                                                </div>
                                                <div class="col-md-3" ng-show="selectedform == 'KnowMyDestination'">
                                                    <div class="input-box">

                                                        <input type="text"
                                                               ng-model="KnownDestinationAirport"
                                                               typeahead-min-length="2"
                                                               ng-required="selectedform == 'KnowMyDestination'"
                                                               typeahead-input-formatter="formatInput($model)"
                                                               typeahead-editable="true"
                                                               typeahead-on-select="onKnowDestinationSelect($item, $model, $label)"
                                                               typeahead-template-url="customTemplate.html"
                                                               name="KnownDestinationAirport"
                                                               tabindex="1"
                                                               placeholder="Enter your Destination"
                                                               typeahead="state as state for AvailableCodes in getMatchingStuffs($viewValue)"
                                                               class="form-control input">

                                                        <span ng-if="IsairportJSONLoading == true" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                                                        <i ng-if="!IsairportJSONLoading" class="icon-box location"></i>
                                                    </div>
                                                    <div class="alert alert-danger" role="alert" ng-show="hasError && frmdestfinder.$invalid && frmdestfinder.KnownDestinationAirport.$error.required">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                        <span class="sr-only">Error:</span>
                                                        Please enter Destination Airport.
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="input-box">
                                                        <input type="number" step="1" min="1" class="form-control" name="Maxfare" ng-model="Maxfare" placeholder="Enter Maxfare" />
                                                    </div>
                                                    <div class="alert alert-danger" role="alert" ng-show="hasError && frmdestfinder.$invalid && frmdestfinder.Maxfare.$invalid">
                                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                        <span class="sr-only">Error:</span>
                                                        Please enter valid Maximum fare.
                                                    </div>

                                                </div>
                                                <div class="col-md-2">
                                                    <div class="input-box">
                                                        <input type="text"
                                                               class="form-control"
                                                               ng-model="FromDate"
                                                               datepicker-popup="{{format}}"
                                                               ng-disabled="true"
                                                               min-date="minTodayDate"
                                                               max-date="MaximumFromDate"
                                                               name="FromDate"
                                                               is-open="openedFromDate"
                                                               datepicker-options="dateOptions"
                                                               ng-required="!LenghtOfStay || ToDate"
                                                               close-text="Close"
                                                               placeholder="Select From Date " />
                                                        <i ng-click="openFromDate($event)" class="icon-box calendar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="input-box">
                                                        <input type="text"
                                                               class="form-control"
                                                               datepicker-popup="{{format}}"
                                                               min-date="minFromDate"
                                                               max-date="MaximumToDate"
                                                               ng-model="ToDate"
                                                               name="ToDate"
                                                               is-open="opened"
                                                               datepicker-options="dateOptions"
                                                               ng-required="!LenghtOfStay || FromDate" close-text="Close" placeholder="Select To Date "
                                                               ng-disabled="true" />
                                                        <i ng-click="openToDate($event)" class="icon-box calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div ng-if="selectedform == 'SuggestDestination'" class="col-md-12 text-center">
                                                    <button type="submit"
                                                            ng-click="IscalledFromIknowMyDest= false;findDestinations()"
                                                            ng-disabled="SearchbuttonIsLoading"
                                                            class="btn btn-danger btn-lg">
                                                        <i ng-if="SearchbuttonIsLoading" style="margin-right:5px;" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>{{SearchbuttonText}}
                                                    </button>
                                                </div>
                                                <div ng-if="selectedform == 'KnowMyDestination'" class="col-md-12 text-center">
                                                    <button type="submit"
                                                            ng-click="getDestinationDetails()"
                                                            ng-disabled="KnowSearchbuttonIsLoading"
                                                            class="btn btn-danger btn-lg">
                                                        <i ng-if="KnowSearchbuttonIsLoading" style="margin-right:5px;" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>{{KnowSearchbuttonText}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="i-know-my-destination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </div>
    <!-- [E] SEARCHCENTER -->
    <!-- [S] POPULAR-DESTINATIONS -->
    <div class="popular-destinations" ng-class="isPopDestCollapsed ? 'active' : ''">
        <a href="#" ng-click="isPopDestCollapsed = !isPopDestCollapsed" class="toggle-btn destinations-btn red-bg"><i class="destinations-icon"></i>Top Popular Destinations</a>
        <div id="examples" class="destinations-details">
            <div class="content mCustomScrollbar">
                <div class="destinations-list">
                    <h6>LAX [Los Angeles]</h6>
                    <ul class="destinations-details-list">
                        <li><p>Lowest Non Stop Fare  : <span>USD 700.20</span></p></li>
                        <li><p>Lowest Fare : <span>USD 423.20</span></p></li>
                    </ul>
                </div>
                <div class="destinations-list">
                    <h6>SNA [Santa Ana]</h6>
                    <ul class="destinations-details-list">
                        <li><p>Lowest Non Stop Fare  : <span>USD 700.20</span></p></li>
                        <li><p>Lowest Fare : <span>USD 423.20</span></p></li>
                    </ul>
                </div>
                <div class="destinations-list">
                    <h6>ONT [Ontario]</h6>
                    <ul class="destinations-details-list">
                        <li><p>Lowest Non Stop Fare  : <span>USD 700.20</span></p></li>
                        <li><p>Lowest Fare : <span>USD 423.20</span></p></li>
                    </ul>
                </div>
                <div class="destinations-list">
                    <h6>LAX [Los Angeles]</h6>
                    <ul class="destinations-details-list">
                        <li><p>Lowest Non Stop Fare  : <span>USD 700.20</span></p></li>
                        <li><p>Lowest Fare : <span>USD 423.20</span></p></li>
                    </ul>
                </div>
                <div class="destinations-list">
                    <h6>SNA [Santa Ana]</h6>
                    <ul class="destinations-details-list">
                        <li><p>Lowest Non Stop Fare  : <span>USD 700.20</span></p></li>
                        <li><p>Lowest Fare : <span>USD 423.20</span></p></li>
                    </ul>
                </div>
                <div class="destinations-list">
                    <h6>ONT [Ontario]</h6>
                    <ul class="destinations-details-list">
                        <li><p>Lowest Non Stop Fare  : <span>USD 700.20</span></p></li>
                        <li><p>Lowest Fare : <span>USD 423.20</span></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [E] POPULAR-DESTINATIONS -->
    <!-- [S] REFINE-YOUR-SEARCH-BOX -->
    <div class="refine-your-search-box slide-bottom" ng-show="ShowDestinationView">
        <div class="btn-box"> <a href="#" ng-click="isRefineSeachCollapsed = !isRefineSeachCollapsed;isSearchCollapsed= true;" class="toggle-btn your-search-btn red-bg"><i class="search-icon"></i>Refine your search</a></div>
        <div collapse="!isRefineSeachCollapsed" class="advanced-search">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <form class="ng-pristine">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-box">
                                            <input type="text" class="form-control" name="title" placeholder="Min Fare" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <div class="selector-box">
                            <h3>Theme :: (Selected:{{Theme}}) <a class="clear" href="#" ng-click="Theme = ''">|  clear</a></h3>
                            <ul>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/palm-tree-icon.png" alt="" /></a></li>
                                <li><a class="active" href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/paris-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/dice-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/bank-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/camera-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/park-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/climbing-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/hearts-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/full-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/cruise-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/sport-icon.png" alt="" /></a></li>
                                <li><a href="#" ng-model="Theme" name="Theme"><img src="app/Styles/images/holidays-icon.png" alt="" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="selector-box region-box">
                            <h3>Region</h3>
                            <ul>
                                <li><a href="#"><img src="app/Styles/images/africa-icon.png" alt="" /></a></li>
                                <li><a class="active" href="#"><img src="app/Styles/images/europe-icon.png" alt="" /></a></li>
                                <li><a href="#"><img src="app/Styles/images/latin-america-icon.png" alt="" /></a></li>
                                <li><a href="#"><img src="app/Styles/images/north-america-icon.png" alt="" /></a></li>
                                <li><a href="#"><img src="app/Styles/images/icon-middle-east-icon.png" alt="" /></a></li>
                                <li><a href="#"><img src="app/Styles/images/asia-icon.png" alt="" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="refine-btn-row"><button class="btn btn-danger btn-lg" type="submit">Suggest Destinations</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [S] FOOTER -->
    <footer>
        <div class="footer-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="copyright">© 2015 - Trippism All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- [E] FOOTER -->
</div>
<!-- [E] REFINE-YOUR-SEARCH-BOX -->

<script type="text/ng-template" id="customTemplate.html">
    <a style="padding-left:10px;" tabindex="-1" class="row-even1">
        <i ng-class="match.model.airport_IsMAC  ? 'glyphicon-send' :'glyphicon-plane'" class="glyphicon "></i>
        <span>{{match.model.airport_Code}}</span>,
        <span>{{match.model.airport_FullName.toLowerCase().indexOf("airport") >= 0 ? match.model.airport_FullName : match.model.airport_FullName + " Airport"}}</span>,
        <span>{{match.model.airport_CityName}}</span>,
        <span>{{match.model.airport_CountryName}}</span>
    </a>
</script>