<div ng-controller="FareRangeController">
    <div style="margin-top:10px;">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Search Fare</div>
                <div class="panel-body">
                    <div ng-show="hasError && frmrangefinder.$invalid">

                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.Origin.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please enter Origin.
                        </div>
                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.Destination.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please enter Destination.
                        </div>
                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.EarliestDepartureDate.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please select Earliest Departure Date.
                        </div>
                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.EarliestDepartureDate.$invalid && !frmrangefinder.EarliestDepartureDate.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please select valid Earliest Departure Date.
                        </div>
                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.LatestDepartureDate.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please select Latest Departure Date.
                        </div>
                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.LatestDepartureDate.$invalid && !frmrangefinder.LatestDepartureDate.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please select valid Latest Departure Date.
                        </div>
                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.LenghtOfStay.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please enter Lenght Of Stay.
                        </div>
                        <div class="alert alert-danger triperror" role="alert" ng-show="frmrangefinder.LenghtOfStay.$invalid && !frmrangefinder.LenghtOfStay.$error.required">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Please enter valid Lenght Of Stay.Length Of Stay Must Be between 0-16.
                        </div>
                    </div>
                    <script type="text/ng-template" id="customTemplate.html">
                        <a style="padding-left:10px;" tabindex="-1" class="row-even1">
                            <i ng-class="match.model.airport_IsMAC  ? 'glyphicon-send' :'glyphicon-plane'" class="glyphicon "></i>

                            <span>{{match.model.airport_CityCode}}</span>,
                            <span>{{match.model.airport_FullName.toLowerCase().indexOf("airport") >= 0 ? match.model.airport_FullName : match.model.airport_FullName + " Airport"}}</span>,

                            <span>{{match.model.airport_CityName}}</span>,
                            <span>{{match.model.airport_CountryName}}</span>

                        </a>
                    </script>
                    <form name="frmrangefinder" novalidate>
                        <div class="form-group">
                            <label for="origin">Enter Your Origin</label>                            
                            <input type="text"
                                   ng-model="Origin"
                                   typeahead-min-length="2"
                                   required
                                   typeahead-input-formatter="formatInput($model)"
                                   typeahead-editable="true"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   typeahead-template-url="customTemplate.html"
                                   name="Origin"
                                   tabindex="1"
                                   placeholder="Enter Origin"
                                   typeahead="state for state in AvailableCodes |  filter: $viewValue  | limitTo: 150"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="destination">Enter Your Destination</label>                         
                            <input type="text"
                                   ng-model="Destination"
                                   typeahead-min-length="2"
                                   required
                                   typeahead-input-formatter="formatInput($model)"
                                   typeahead-editable="true"
                                   typeahead-on-select="onDestinationSelect($item, $model, $label)"
                                   typeahead-template-url="customTemplate.html"
                                   name="Destination"
                                   tabindex="1"
                                   placeholder="Enter Destination"
                                   typeahead="state for state in AvailableCodes |  filter: $viewValue  | limitTo: 150"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Earliest Departure Date</label>
                            <p class="input-group">
                                <input type="text"
                                       disabled="disabled"
                                       required="required"
                                       class="form-control"
                                       datepicker-popup="{{format}}"
                                       min-date="minTodayDate"
                                       max-date="MaximumEarliestDepartureDate"
                                       name="EarliestDepartureDate"
                                       ng-model="EarliestDepartureDate"
                                       is-open="openedEarliestDepartureDate"
                                       datepicker-options="dateOptions"
                                       ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEarliestDepartureDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Latest Departure Date</label>
                            <p class="input-group">
                                <input type="text"
                                       disabled="disabled"
                                       class="form-control"
                                       datepicker-popup="{{format}}"
                                       min-date="minEarliestDepartureDate"
                                       max-date="MaximumLatestDepartureDate"
                                       ng-model="LatestDepartureDate"
                                       name="LatestDepartureDate"
                                       is-open="opened"
                                       datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)"
                                       ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>                     
                            <div class="form-group">
                                <label for="lengthofstay">Lenght of Stay(days)</label>
                                <input type="number" name="LenghtOfStay" ng-model="LenghtOfStay" value="" class="form-control" min="0" max="16" required>
                            </div>
                        <button ng-disabled="SearchbuttonIsLoading" class="btn btn-primary btn-sm" ng-click="findfarerRange()">{{SearchbuttonText}}</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Available Fare Range</div>
                <div class="panel-body" style="padding:3px;padding-top:16px;">
                    <div ng-show="IsSearched && isUndefined(SearchedfarerangeInfo)">No fare range found</div>
                    <div class="col-md-12" ng-show="!isUndefined(SearchedfarerangeInfo)">
                        <div class="thumbnail">
                            <div class="panel panel-default" style="border:none;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Fare Range Info</h3>
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>Currency Code</th>
                                        <th>Maximum Fare</th>
                                        <th>Minimum Fare</th>
                                        <th>Median Fare</th>                                      
                                        <th>Count</th>
                                        <th>Departure Date Time</th>
                                        <th>Return Date Time</th>
                                    </tr>                                
                                    <tr ng-repeat="range in SearchedfarerangeInfo.FareData">
                                        <td class="word-wrap text-center">{{range.CurrencyCode}}</td>
                                        <td class="word-wrap text-right">{{range.MaximumFare | currency}}</td>
                                        <td class="word-wrap text-right">{{range.MinimumFare | currency}}</td>
                                        <td class="word-wrap text-right">{{range.MedianFare | currency}}</td>                                       
                                        <td class="word-wrap text-center">{{range.Count}}</td>
                                        <td class="word-wrap text-center">{{range.DepartureDateTime | date:"yyyy-MM-dd"}}</td>
                                        <td class="word-wrap text-center">{{range.ReturnDateTime | date:"yyyy-MM-dd"}}</td>
                                    </tr>                                
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>    
</div>
