<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-9 padleft0">
            <googleattraction-info googleattraction-params="attractionParams" is-open="openaccordiondata" class="googleattraction" style="clear:both;"></googleattraction-info>
            
            <div style="clear:both;float:left">
                <!--<weather-info weather-params="attractionParams"></weather-info>-->
            </div>
            
        </div>
        <div class="col-lg-3 padright0">
            <youtube-info youtube-params="attractionParams"></youtube-info>
        </div>
    </div>
</div>