
    <div class="col-xs-12 col-md-4 mainpagepopup mainpage-topmargin128" style="margin-top:-300px" >
        <div class="col-lg-12" style="padding:0px">
            <div class="col-lg-10">
                <h4>Attractions found : {{attractions.length}} </h4>
            </div>
            <div class="col-lg-2">
                <span style="margin-top:4px;" class="glyphicon" aria-hidden="true" ng-click="topdestinationflg =!topdestinationflg" ng-class="topdestinationflg ?'glyphicon-menu-up' :'glyphicon-menu-down'"></span>
            </div>
            <div ng-show="topdestinationflg" class="col-lg-12 mainpage-topdestination">
                <div ng-click="SelectPlace(item)" class="mainpage-topdestinationsub" ng-repeat="item in attractionstoDisp">
                    <div style="color:white;font-size:12px;min-height:50px;">
                        <div class="col-sm-12 padleft0"><strong>{{item.name}}</strong><br></div>
                        <div style="word-wrap:break-word;" ng-bind-html="item.Placeaddress"></div>
                        {{item.PhoneNo}}
                    </div>
                </div>
                <div class="mainpage-topdestinationsub" style="min-height:30px;" ng-show="showmore">
                    <a class="pull-right" ng-click="ShowMoreAttractions()">Show more</a>
                </div>

            </div>
        </div>
    </div>
