<div class="ibox-wp">
    <div class="ibox-title">
        <!--<a class="view-icon" href="#" ><img src="/app/Styles/images/view-headline-icon.png" alt="" /></a>-->
        <h4>
            {{attractionParams.DestinationairportName.airport_FullName + ', ' + attractionParams.DestinationairportName.airport_CityName + ', ' + attractionParams.DestinationairportName.airport_CountryName}}
        </h4>
        <div class="share-btn">
            <a title="Share via email" ng-click="SendEmailToUser()" class="icons red-bg"><img src="/app/Styles/images/share-icon.png" alt="" /></a>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-6" ng-if="attractionParams.mapOptions.LowestNonStopFare.Fare != 'N/A' && attractionParams.mapOptions.LowestNonStopFare.Fare != 0">
                <div class="ibox-box">
                    <h4>{{attractionParams.mapOptions.CurrencyCode}} {{attractionParams.mapOptions.LowestNonStopFare.Fare | number : 2}}</h4>
                    <p>Lowest Non Stop Fare</p>
                    <p>{{attractionParams.mapOptions.LowestNonStopFare.AirlineCodes.join(', ')}}</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-6" ng-if="(attractionParams.mapOptions.LowestNonStopFare.Fare == 'N/A' || attractionParams.mapOptions.LowestNonStopFare.Fare == 0) && attractionParams.mapOptions.LowestFare.Fare != 'N/A' &&  attractionParams.mapOptions.LowestFare.Fare != 0">
                <div class="ibox-box">
                    <h4>{{attractionParams.mapOptions.CurrencyCode}} {{attractionParams.mapOptions.LowestFare.Fare | number : 2}}</h4>
                    <p>Lowest Non Stop Fare</p>
                    <p>{{attractionParams.mapOptions.LowestFare.AirlineCodes.join(', ')}}</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-6" ng-show="FareNoDataFound && FareApiLoaded" ng-if="attractionParams.mapOptions.LowestFare.Fare != 'N/A' &&  attractionParams.mapOptions.LowestFare.Fare != 0">
                <div class="ibox-box">
                    <h4>{{attractionParams.mapOptions.CurrencyCode}} {{attractionParams.mapOptions.LowestFare.Fare | number : 2}}</h4>
                    <p>Lowest Fare</p>
                    <p>{{attractionParams.mapOptions.LowestFare.AirlineCodes.join(', ')}}</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-6" ng-show="!FareNoDataFound" ng-if="FareforecastData.LowestFare != 'N/A' &&  FareforecastData.LowestFare != 0">
                <div class="ibox-box">
                    <h4>{{attractionParams.mapOptions.CurrencyCode}} {{attractionParams.mapOptions.LowestFare.Fare | number : 2}}</h4>
                    <p>Lowest Fare</p>
                    <p>{{attractionParams.mapOptions.LowestFare.AirlineCodes.join(', ')}}</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-6" ng-show="!FareNoDataFound" ng-if="FareforecastData.Forecast.LowestPredictedFare != 'N/A' && FareforecastData.Forecast.LowestPredictedFare != 0">
                <div title="Forecasted price for next week for the same origin-destination pair and date combination selected" class="ibox-box"><h4>{{FareforecastData.CurrencyCode}} {{FareforecastData.Forecast.LowestPredictedFare | number : 2 }}</h4><p>Lowest Predicted Fare for Next Week</p></div>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-6" ng-if="!FareNoDataFound && IsRequestCompleted" ng-hide="FareforecastData.Recommendation == 'unknown'">
                <div class="ibox-box" ng-show="!FareNoDataFound">
                    <img ng-if="FareforecastData.Recommendation == 'buy'" title="Buy" src="/app/Styles/images/like-icon.png" />
                    <img ng-if="FareforecastData.Recommendation == 'wait'" title="Wait" src="/app/Styles/images/wait-icon.png" />
                    <p>Recommendation</p>
                </div>
            </div>

            <div class="col-md-1 col-sm-3 col-xs-6" ng-if="IsRequestCompleted">
                <a href="" ng-click="InstaFlightSearch();">
                    <img title="Book Now" src="/app/Styles/images/book-now.png" width="60" height="70" />
                </a>
            </div>

            <!--<div class="col-md-4 col-sm-12 col-xs-12 searched-box">-->
            <div class="col-md-3 col-sm-12 col-xs-12 searched-box">
                <div class="ibox-box searched">
                    <h4>You Searched </h4>
                    <p>
                        <span ng-show="attractionParams.SearchCriteria.OrigintoDisp">Origin : {{attractionParams.SearchCriteria.OrigintoDisp}}</span>
                        <span ng-show="attractionParams.SearchCriteria.FromDate">, From Date : {{attractionParams.SearchCriteria.FromDate | date:'MM/dd/yyyy'}}</span>
                        <span ng-show="attractionParams.SearchCriteria.ToDate">, To Date : {{attractionParams.SearchCriteria.ToDate |date:'MM/dd/yyyy'}}</span>
                        <br />

                        <span ng-show="attractionParams.SearchCriteria.Minfare > 0">Min Fare: {{attractionParams.SearchCriteria.Minfare}}</span>
                        <span ng-show="attractionParams.SearchCriteria.Maxfare > 0">, Max Fare: {{attractionParams.SearchCriteria.Maxfare}}</span>
                        <span ng-show="attractionParams.SearchCriteria.Region ">, Region:{{attractionParams.SearchCriteria.Region}} </span>
                        <span ng-show="attractionParams.SearchCriteria.Theme">, Theme:{{attractionParams.SearchCriteria.Theme}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
