<div class="total-attractions-found-box slide-bottom">

    <div class="btn-box">
        <a class="toggle-btn total-attractions-btn balck-bg"
           ng-class="isAttractionCollapsed ? '' : 'active'"
           ng-click="isAttractionCollapsed = !isAttractionCollapsed;">
            <i class="search-icon"></i>
            Total Attractions Found : {{attractions.length}}
        </a>
    </div>

    <div collapse="isAttractionCollapsed" class="attractions-found collapse">
        <!--style="display: none;"-->

        <div id="examples" class="max-width-example">
            <!-- content -->
            <div id="content-1" class="content">
                <div class="destinations-list" ng-click="SelectPlace(item)" ng-repeat="item in attractionstoDisp">
                    <h6>{{item.name}}</h6>
                    <div class="placeaddress-list">
                        <span>{{item.Placeaddress}}</span>
                        <span>{{item.PhoneNo}}</span>
                    </div>

                </div>
                <div class="mainpage-showall" style="min-height:20px;" ng-show="attractiondispflg && showmore">
                    <a class="pull-right" ng-click="ShowMoreAttractions()">Show more</a>
                </div>
            </div>

        </div>


    </div>

</div>

