    <div style="padding: 20px;">
        <div cg-busy="{promise:sendmailPromise,message:'Sending email...'}">
            <div class="button-right col-lg-12">
                <a class="close-panel-button pull-right" ng-click="dismiss()" role="button" id="close_destination_panel" tabindex="0">X</a>
            </div>
            <div style="clear:both;" ng-show="hasError && FormGetEmailDet.$invalid">
                <div class="alert alert-danger triperror" role="alert" ng-show="FormGetEmailDet.email.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Please enter Email Address.
                </div>
                <div class="alert alert-danger triperror" role="alert" ng-show="emailvalidate">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Please enter Valid Email Address.
                </div>

                <div class="alert alert-danger triperror" role="alert" ng-show="FormGetEmailDet.fromemail.$error.email">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Please enter Valid From email Address.
                </div>

                <div class="alert alert-danger triperror" role="alert" ng-show="FormGetEmailDet.Subject.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Please enter Subject.
                </div>
            </div>
            <form name="FormGetEmailDet" novalidate="novalidate" class="sharenow-form">
                <div class="form-group">
                    <label for="email">From email address</label>
                    <input type="email" ng-model="fromemail" class="form-control " style="color:black !important;" id="fromemail" name="fromemail" placeholder="Enter email" />
                </div>
                <div class="form-group">
                    <label for="email">To email address</label>
                    <input type="text" ng-model="email" class="form-control" id="email" style="color:black !important;" name="email" placeholder="Enter email" required />
                </div>
                <div class="form-group">
                    <label for="Subject">Subject</label>
                    <input type="text" ng-model="Subject" class="form-control" id="Subject" style="color:black !important;" name="Subject" placeholder="Subject" required />
                </div>
                <button type="submit" class="btn btn-danger btn-sm" ng-click="submitModal()">Share Now</button>
            </form>
        </div>
    </div>
