<div ng-if="!loadingFareRange" >

        <div class="popup-box">
            <div class="popup-header balck-bg">
                <h5 class="popup-title">Historical Fare Range for date of [ {{DepartDate}} to {{ReturnDate}} ]</h5>
            </div>
            <div class="popup-content">
                <p>
                    Median, highest, and lowest published fares during the previous 4 weeks for each of the future departure dates in a range, using the specific origin, destination, and length of stay requested.
                </p>
                <div class="chart-box">
                </div>
            </div>
        </div>
    </div>


