<!--<div class="" style="clear:both;">

    <div class="col-md-12" style="clear:both;padding-top:5px;">
        <div ng-show="!loadingFareRange">
            <span style="font-size:100% !important;font-weight:bold;text-decoration: underline;">Historical Fare Range for date of [ {{DepartDate}} to {{ReturnDate}} ]</span>
            <br />
            <h6 style="margin:0px;">Median, highest, and lowest published fares during the previous 4 weeks for each of the future departure dates in a range, using the specific origin, destination, and length of stay requested.</h6>
        </div>
    </div>
</div>-->



<div class="col-md-6" ng-show="!loadingFareRange">

    <div class="popup-box overview">

        <div class="popup-header red-bg">

            <h4 class="popup-title">Overview</h4>

        </div>

        <div class="popup-content">

            <div class="overview-weather-box">

                <ul class="gird-line">

                    <li>

                        <div class="overview-weather-content">
                            <h6> 09/16/2015 To 09/21/2015 </h6>
                            <p>Traffic Seasonality</p>
                        </div>
                        <div class="overview-weather-img">
                            <img src="/app/Styles/images/team-icon1.png" alt="" />
                        </div>

                    </li>
                    <li>

                        <div class="overview-weather-content">
                            <h6> 09/16/2015 To 09/21/2015 </h6>
                            <p>Traffic Seasonality</p>
                        </div>
                        <div class="overview-weather-img">
                            <img src="/app/Styles/images/team-icon2.png" alt="" />
                        </div>
                    </li>
                    <li>

                        <div class="overview-weather-content">
                            <h6> 09/16/2015 To 09/21/2015 </h6>
                            <p>Traffic Seasonality</p>
                        </div>
                        <div class="overview-weather-img">
                            <img src="/app/Styles/images/team-icon1.png" alt="" />
                        </div>

                    </li>
                    <li>

                        <div class="overview-weather-content">
                            <h6> 09/16/2015 To 09/21/2015 </h6>
                            <p>Traffic Seasonality</p>
                        </div>
                        <div class="overview-weather-img">
                            <img src="/app/Styles/images/team-icon2.png" alt="" />
                        </div>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <a id="popup_1" class=" popup-btn btn btn-danger btn-md">see more info</a>

</div>