<div class="" style="clear:both;" cg-busy="{promise:googleattractionpromise,message:'Loading Attractions'}">
    <div ui-map="googleattractionsMap" id={{gMapId}} ui-options="attractionmapOptions" style="width:100%;" class="map-canvas"></div>
</div>
<div ng-show="IsMarkerSelected" id={{googleMapId}} class="popupmarker" style="width: 400px;  min-height:300px;  z-index: 999;">
    <div class="modal-content">


        <div class="modal-header head ng-scope" style="padding-bottom: 24px !important;">
            <button class="close closebutton" ng-click="cancel()" type="button">×</button>
        </div>

        <div ng-show="IsMapPopupLoading" class="sqrloadclass" style="padding-top:10px;padding-bottom:0px;">
        </div>
        <div class="modal-body" ng-show="!IsMapPopupLoading">
            <carousel no-wrap="noWrapSlides" class="slidercarsoul">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;max-width:400px;max-height:250px;">
                    <div class="carousel-caption">
                    </div>
                </slide>
            </carousel>
            <div style="color:black;font-size:14px;">
                <div class="col-sm-12 padleft0"><strong>{{PlaceName }}</strong><br></div>
                <div style="word-wrap:break-word;" ng-bind-html="Placeaddress"></div>
                {{PhoneNo}}
                <div ng-bind-html="raitingToAppend"></div>
            </div>
        </div>
    </div>
</div>