<div class="col-md-12" style="clear:both;padding-top:5px;">
    <div ng-if="!loadingSeasonality">
        <span style="font-size:100% !important;font-weight:bold;text-decoration: underline;">Historical Traffic Seasonality for [ {{seasonalityParams.DestinationairportName.airport_FullName}} , {{seasonalityParams.DestinationairportName.airport_CityName}} ]</span>
        <h6 style="margin:0px;">Traffic volume booked to the requested destination airport for each of the previous 52 weeks. It’s the booked traffic for each week to each of the other previous 51 weeks, and rated accordingly</h6>
    </div>
</div>
