<div class="col-md-6 col-sm-6 col-xs-12" ng-if="(FareRangeWidgetDataFound || SeasonalityWidgetDataFound ) && IsWidgetClosed ">
    <div class="popup-box">
        <div class="popup-header red-bg">
            <div ng-if="SeasonalityWidgetDataFound && FareRangeWidgetDataFound"><h6 class="popup-title">Traffic Seasonality and Fare Range Summary</h6></div>
            <div ng-if="SeasonalityWidgetDataFound && !FareRangeWidgetDataFound"><h6 class="popup-title">Traffic Seasonality Summary</h6></div>
            <div ng-if="!SeasonalityWidgetDataFound && FareRangeWidgetDataFound"><h6 class="popup-title">Fare Range Summary</h6></div>
        </div>
        <div class="popup-content">
            <div class="overview-weather-box">
                <ul class="gird-line">
                    <li>
                        <div class="overview-weather-content" ng-if="SeasonalityWidgetDataFound">
                            <h6> [ {{DepartDate}} To {{ReturnDate}} ]</h6>
                            <p>Traffic Seasonality</p>
                            <img title="High" ng-if="SeasonalityWidgetData.NoofIcons == 3" src="/app/Styles/images/User-12.png" alt="" />
                            <img title="Medium" ng-if="SeasonalityWidgetData.NoofIcons == 2" src="/app/Styles/images/User-5.png" alt="" />
                            <img title="Low" ng-if="SeasonalityWidgetData.NoofIcons == 1" src="/app/Styles/images/User-3.png" alt="" />
                        </div>
                        <div class="overview-weather-farerange" ng-if="FareRangeWidgetDataFound" ng-style="!SeasonalityWidgetDataFound && {'border-left':'none'}">
                            <p>
                                Fare Range Last 4 weeks
                                <span ng-if="widgetParams.FareRangeData.IsMacOrigin">({{widgetParams.FareRangeData.OriginLocation}})</span>
                                <span ng-if="widgetParams.FareRangeData.IsMacDestination">({{widgetParams.FareRangeData.DestinationLocation}})</span>
                            </p>
                            <p>Lowest Fare : {{FareRangeWidgetData.MinimumFare}}</p>
                            <p>Median Fare : {{FareRangeWidgetData.MedianFare}}</p>
                            <p>Highest Fare : {{FareRangeWidgetData.MaximumFare}}</p>
                        </div>
                    </li>
                </ul>
                <!--<a id="popup_1" class=" popup-btn btn btn-danger btn-md">see more info</a>
                <a id="popup_3" class=" popup-btn btn btn-danger btn-md pull-right">see more info</a>-->
            </div>
        </div>
    </div>
</div>
<!--<div class="col-lg-3 WeatherWidget" ng-if="(FareRangeWidgetDataFound || SeasonalityWidgetDataFound ) && IsWidgetClosed "
     ng-class="attractiondispflg  ? 'margintop-19' : 'margintop-35'" style="padding:0px;  max-height: 264px;overflow-x: hidden;overflow-y: auto;">

    <div class="col-lg-2">
        <span style="margin-top:4px;line-height:20px;" class="glyphicon" aria-hidden="true" ng-click="attractiondispflg =!attractiondispflg" ng-class="attractiondispflg ?'glyphicon-menu-up' :'glyphicon-menu-down'"></span>
    </div>
    <div ng-show="!attractiondispflg" class="col-lg-12 mainpage-topdestination">
        <div style="font-size:15px;font-weight:bold;padding-left:15px;"> {{DepartDate}} To {{ReturnDate}} </div>
        <div ng-if="SeasonalityWidgetDataFound" class="col-lg-12">
            <div style="font-size:15px;font-weight:bold;">

                <div> Traffic Seasonality  </div>
                <span class="" title="High" ng-if="SeasonalityWidgetData.NoofIcons == 3">
                    <img height="40" width="35" src="/app/Styles/images/team.png" />
                </span>
                <span class="" title="Medium" ng-if="SeasonalityWidgetData.NoofIcons == 2">
                    <img height="40" width="35" src="/app/Styles/images/team1.png" />
                </span>
                <span class="" title="Low" ng-if="SeasonalityWidgetData.NoofIcons == 1">
                    <img height="40" width="35" src="/app/Styles/images/team2.png" />
                </span>
            </div>
        </div>

        <div ng-if="FareRangeWidgetDataFound" class="col-lg-12">
            <div style="font-size:13px;font-weight:bold;">Fare Range Last 4 weeks
                <span ng-if="widgetParams.FareRangeData.IsMacOrigin">( {{widgetParams.FareRangeData.OriginLocation}} )</span>
                <span ng-if="widgetParams.FareRangeData.IsMacDestination">( {{widgetParams.FareRangeData.DestinationLocation}} )</span>

            </div>


            <div>Lowest Fare : {{FareRangeWidgetData.MinimumFare}}</div>
            <div>Median Fare : {{FareRangeWidgetData.MedianFare}}</div>
            <div>Highest Fare : {{FareRangeWidgetData.MaximumFare}}</div>
        </div>

    </div>

</div>-->
