<div class="col-md-6 col-sm-6 col-xs-12" ng-if="(FareRangeWidgetDataFound || SeasonalityWidgetDataFound ) && IsWidgetClosed ">
    <div class="popup-box">
        <div class="popup-header red-bg">
            <div ng-if="SeasonalityWidgetDataFound && FareRangeWidgetDataFound"><h6 class="popup-title">Traffic Seasonality and Fare Range Summary</h6></div>
            <div ng-if="SeasonalityWidgetDataFound && !FareRangeWidgetDataFound"><h6 class="popup-title">Traffic Seasonality Summary</h6></div>
            <div ng-if="!SeasonalityWidgetDataFound && FareRangeWidgetDataFound"><h6 class="popup-title">Fare Range Summary</h6></div>
        </div>
        <div class="popup-content">
            <div class="overview-weather-box">
                <ul class="gird-line">
                    <li>
                        <div class="overview-weather-content" ng-if="SeasonalityWidgetDataFound">
                            <h6> [ {{DepartDate}} To {{ReturnDate}} ]</h6>
                            <p>Traffic Seasonality</p>
                            <img title="High" ng-if="SeasonalityWidgetData.NoofIcons == 3" src="/app/Styles/images/User-12.png" alt="" />
                            <img title="Medium" ng-if="SeasonalityWidgetData.NoofIcons == 2" src="/app/Styles/images/User-5.png" alt="" />
                            <img title="Low" ng-if="SeasonalityWidgetData.NoofIcons == 1" src="/app/Styles/images/User-3.png" alt="" />
                        </div>
                        <div class="overview-weather-farerange" ng-if="FareRangeWidgetDataFound" ng-style="!SeasonalityWidgetDataFound && {'border-left':'none'}">
                            <p>
                                Fare Range Last 4 weeks
                                <span ng-if="widgetParams.FareRangeData.IsMacOrigin">({{widgetParams.FareRangeData.OriginLocation}})</span>
                                <span ng-if="widgetParams.FareRangeData.IsMacDestination">({{widgetParams.FareRangeData.DestinationLocation}})</span>
                            </p>
                            <p>Lowest Fare : {{FareRangeWidgetData.MinimumFare | number : 2}}</p>
                            <p>Median Fare : {{FareRangeWidgetData.MedianFare | number : 2}}</p>
                            <p>Highest Fare : {{FareRangeWidgetData.MaximumFare | number : 2}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
