 <div class="col-lg-3 WeatherWidget " style="padding:0px; height: 264px;overflow-x: hidden;overflow-y: auto;" ng-if="!WeatherInfoNoDataFound">
    <div class="col-lg-12 col-sm-12 col-md-6" style="padding:0px">
        <div class="col-lg-12 col-sm-12 col-md-6">
            <span style="font-size:100% !important;font-weight:bold;text-decoration: underline;">Historical Weather pattern for [{{DepartDate}} to {{ReturnDate}}]</span>
        </div>
        <div class="col-lg-12 col-sm-9 col-md-9 home" style="padding-top: 5px;">
            <div class="col-lg-6" style="padding-left:30px;" ><div class="fontsize"><b>Avg. Hig : </b></div><h2 class="fnt20" style="margin-top:5px;margin-bottom:5px;">{{HighTempratureF}}&#x2109 {{HighTempratureC}}&#x2103</h2></div>
            <div class="col-lg-6" style="padding-left:30px;"><div class="fontsize"><b>Avg. Low :</b></div><h2 class="fnt20" style="margin-top:5px;margin-bottom:5px;"> {{LowTempratureF}}&#x2109 {{LowTempratureC}}&#x2103</h2></div>
        </div>
        
        <div class="col-lg-12" style="margin-top:-10px;">
            <div ng-repeat="item in  WeatherwidgetData.WeatherChances">
                <div class="col-lg-6" style="padding:0px" ng-if="item.Name=='Cloudy' && item.Percentage > 60">
                    <div style="text-align:center"> <img src="../app/Styles/images/Cloudy.gif" style="width:60px;height:60px" /><span>{{item.Name}}</span> </div>
                </div>
                <div class="col-lg-6" style="padding:0px" ng-if="item.Name=='Humid' && item.Percentage > 60">
                    <div style="text-align:center">
                        <img src="../app/Styles/images/Humid.gif" style="width:60px;height:60px" /><div>{{item.Name}}</div> </div>
                </div>
                <div class="col-lg-6" style="padding:0px" ng-if="item.Name=='Partyly Cloudy' && item.Percentage > 60">
                    <div style="text-align:center">
                        <img src="../app/Styles/images/Partly Cloudy.gif" style="width:60px;height:60px" />
                        <div>{{item.Name}}</div> 
                    </div>
                </div>
                <div class="col-lg-6" style="padding:0px" ng-if="item.Name=='Precipitation' && item.Percentage > 60 && IsparticipationDisplay">
                    <div style="text-align:center">
                        <img src="../app/Styles/images/Precipitation.gif" style="width:60px;height:60px" />
                        <div>{{item.Name}}</div>
                    </div>
                </div>

                <div class="col-lg-6" ng-if="item.Name=='Rain' && item.Percentage > 60">
                    <div style="text-align:center"><img src="../app/Styles/images/Rain.gif" style="width:60px;height:60px" />
                    <div>{{item.Name}} </div> </div>
                </div>

                <div class="col-lg-6" ng-if="item.Name=='Sweltering' && item.Percentage > 60">
                    <div style="text-align:center"><img src="../app/Styles/images/Sweltering.gif" style="width:60px;height:60px" /> <div>Very Hot </div> </div>
                </div>
                <div class="col-lg-6" ng-if="item.Name=='Thunderstorms' && item.Percentage > 60">
                    <div style="text-align:center"><img src="../app/Styles/images/Thunderstorms.gif" style="width:60px;height:60px" /> <div>{{item.Name}} </div> </div>
                </div>

            </div>
        </div>
    </div>
</div>