.labelscolor {
    color: black;
    background-color: #76CFE3;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px !important;
    font-weight: bold !important;
    text-align: center;
    min-width: 40px !important;
    white-space: nowrap !important;
    margin-left: 1px !important;
    margin-top: -33px !important;
    opacity: 1 !important;
    border: 1px solid #777;
}
