.labelscolor {
    margin-left: -50px !important;
    margin-top: -106px !important;
}

.cc-selector input[type="radio"] {
    display: none;
    -webkit-appearance: none;
}

a.disabled {
    pointer-events: none;
}

a[disabled] {
    pointer-events: none;
}

a {
    cursor: pointer;
}

.slidercarsoul {
    background-image: background: rgba(181,217,238,1);
    background: -moz-linear-gradient(left, rgba(181,217,238,1) 0%, rgba(42,173,229,1) 50%, rgba(190,222,239,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,217,238,1)), color-stop(50%, rgba(42,173,229,1)), color-stop(100%, rgba(190,222,239,1)));
    background: -webkit-linear-gradient(left, rgba(181,217,238,1) 0%, rgba(42,173,229,1) 50%, rgba(190,222,239,1) 100%);
    background: -o-linear-gradient(left, rgba(181,217,238,1) 0%, rgba(42,173,229,1) 50%, rgba(190,222,239,1) 100%);
    background: -ms-linear-gradient(left, rgba(181,217,238,1) 0%, rgba(42,173,229,1) 50%, rgba(190,222,239,1) 100%);
    background: linear-gradient(to right, rgba(181,217,238,1) 0%, rgba(42,173,229,1) 50%, rgba(190,222,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d9ee', endColorstr='#bedeef', GradientType=1 );
}

.modal-header {
    padding: 0 15px;
}

.form-box input, .form-box textarea, .form-box select, .form-box input:focus, .form-box textarea:focus, .form-box select:focus {
    color: black;
    border: 1px solid #ccc;
}

.clear {
    clear: both;
}

.panel-margin {
    margin-bottom: 0px;
}

.hover-line:hover {
    text-decoration: underline;
}
/*----- InstaFlightSearchPartial ----------*/
.no-border {
    border: none !important;
}

.panel-header-insta {
    font-size: 1.1em;
    font-weight: 700;
}

.margin-left-5 {
    margin-left: 5px;
}

.insta-num {
    font-size: 1.1em;
    font-weight: 700;
    margin-left: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.font-lato {
    font-family: Lato,sans-serif;
}

.acc-heading {
    /*opacity: 0.8;*/
    padding: 0;
}

.insta-num-big {
    text-align: center;
    margin: auto;
    vertical-align: baseline;
    font-size: 18px;
    /*color: #7dcdcd;*/
    padding: 11px 9px;
    font-weight: bold;
}

.insta-padding {
    padding: 3px 0;
}

.padding-10 {
    padding: 10px;
}

.padding-0 {
    padding: 0;
}

.insta-details {
    opacity: 0.8;
    font-family: Lato,sans-serif;
    /*padding: 10px 0;*/
    font-size: 15px;
}

.instaflight .panel-heading {
    background-color: white;
}

.instaflight-scroll {
    height: 450px;
    overflow-y: scroll;
}

.instaflight-center {
    text-align: center;
}


.insta-curr {
    text-align: center;
    margin: auto;
    vertical-align: baseline;
    font-size: 23px;
    color: #ff5c4d;
    padding: 25px 9px;
    font-weight: bold;
}

.insta-location {
    color: #7dcdcd;
    font-size: 1.2em;
    font-weight: 700;
}

.font-details {
    font-size: 16px;
}

.panel-wrapper .panel.panel-default {
    border-left: none;
    border-right: none;
    margin-bottom: 5px;
}

.rotate-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.insta-code {
    padding: 7px 0;
    font-size: 1.3em;
}

.position-abs {
    position: absolute;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.plane-set {
    float: left;
    text-align: left;
}

.plane-ico {
    margin: 0 6px;
}

.font-15 {
    font-size: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.insta-stop {
    text-align: right;
    width: 86px;
}

.cross-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 20px;
}

.stops {
    text-align: center;
}

ul.stop-line {
    height: 2px;
    background-color: #a2a4ac;
    margin: 5px auto;
    position: relative;
    padding: 0;
}

li.stop-dot {
    width: 8px;
    height: 8px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%208%208%22%20enable-background%3D%22new%200%200%208%208%22%3E%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%224%22%20cy%3D%224%22%20r%3D%223%22/%3E%3Cpath%20fill%3D%22%23a2a4ac%22%20d%3D%22M4%202c1.1%200%202%20.9%202%202s-.9%202-2%202-2-.9-2-2%20.9-2%202-2m0-2c-2.2%200-4%201.8-4%204s1.8%204%204%204%204-1.8%204-4-1.8-4-4-4z%22/%3E%3C/svg%3E);
    line-height: 0;
    position: relative;
    top: -8px;
    text-indent: 0;
    display: inline-block;
    zoom: 1;
    margin: 0 3%;
}

ul .stop-line {
    content: ' ';
    width: 21px;
    height: 12px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2021%2012%22%3E%3Cpath%20fill%3D%22%23a2a4ac%22%20d%3D%22M12.9%200l5.1%206-5.1%206h3l5.1-6-5.1-6z%22/%3E%3C/svg%3E);
    position: absolute;
    right: -1px;
    top: -5px;
}

.leg-stops-red {
    color: #ff5c4d;
}

.leg-stops-station {
    color: #80828b;
}

.insta-arrow {
    text-align: center;
    margin: 0 auto;
    margin-left: 16%;
}

.leg-stops-1 {
    padding-left: 17px;
}

.leg-stops-green {
    color: #55bd00;
}

.connect-detail {
    color: #ff5c4d;
    padding: 0;
    font-size: 16px;
}

.cursor-help {
    cursor: help;
}

.btn-book {
    display: block;
    width: 115px;
    height: 33px;
    margin: 5px auto;
}

.font-13 {
    font-size: 13px;
}

.text-book {
    font-size: 12px;
    font-weight: bold;
}

.header-text {
    text-align: left;
    margin: 10px 0;
    color: white;
    padding-left: 28px;
}

.text-super {
    font-size: 14px;
    vertical-align: text-top;
}

.vertical-top {
    vertical-align: top;
}
.paddingtop7 {
padding-top:7px;
}

@media only screen and (max-width: 991px) {
    .panel-header-insta {
        text-align: center;
    }

    .insta-code {
        text-align: center;
    }

    .dep-and-ret {
        display: table;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    .media-text-left {
        text-align: left;
    }
}
/*---------------Ends ---------------------*/
