<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="SabreClientID" value="V1:mq47ni7e95lukv1w:DEVCENTER:EXT" />
    <add key="SabreClientSecret" value="SwVc0Gv3" />
    <add key="SabreTokenUri" value="https://api.test.sabre.com/" />
    <add key="SabreBaseAPIUri" value="https://api.test.sabre.com/" />
  </appSettings>
  <connectionStrings></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="EyeSoft.Core" publicKeyToken="4ac84b082287a719" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.980" newVersion="1.4.0.980" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>