<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

      <add key="SabreClientID" value="V1:mq47ni7e95lukv1w:DEVCENTER:EXT"/>
      <add key="SabreClientSecret" value="SwVc0Gv3"/>
      <add key="SabreTokenUri" value="https://api.test.sabre.com/"/>
      <add key="SabreBaseAPIUri" value="https://api.test.sabre.com/"/>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
