
<!--Add javascript files for JQuery , Services.js-->




@Styles.Render("~/Content/themes/base/css")


<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>So, you are planning a trip</h1>
                <h2>Let us suggest you some great places you can go !</h2>
            </hgroup>
            <p>
                
            </p>
            <p>
              
            </p>
        </div>
    </section>
    
    <section class="content-wrapper main-content clear-fix">
        <h3>Narrow down your destination based on price , theme , seasonality </h3>
        
    </section>
</div>
